.navbarbrand {
  color: rgb(212, 109, 50);
}
h3 {
  cursor: pointer;
}
.header-hr {
  margin: 0;
  padding: 0;
}
.address p:hover {
  margin: 0;
  padding: 0;
}

#address:hover {
  color: black;
}
.checkout-main-container {
  margin: auto;
}

.checkout-summary hr {
  width: 80%;
  margin: auto;
}

.order-total {
  color: rgb(132, 22, 22);
}

.checkout-main-container p {
  color: black;
}

#close-button {
  cursor: pointer;
}

.checkout-summary .summary {
  background-color: white;
}
