.men-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.men-product-list li {
  display: flex;
  justify-content: center;
}

.men-product-listing-card {
  width: 50vw;
  height: 75vh;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.men-product-listing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.men-product-image {
  max-width: 40rem;
  max-height: 12rem;
  object-fit: contain;
  border-radius: 8px;
}
/* for mobile screen */
@media screen and (max-width: 540px) {
  .product-list li {
    margin-bottom: 10px;
  }
  .product-description {
    font-size: 0.8rem;
  }
  .product-price {
    font-size: 1rem;
  }
  .men-product-listing-card {
    width: 50vw !important;
    height: 53vh !important;
  }
  .men-product-image {
    padding-top: 5px;
    max-height: 10rem;
  }
}
