.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dashboard {
  height: 70vh;
  margin-bottom: 10rem;
}
.main-image {
  width: 28vw;
  height: 80vh;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Product images */
.product-images li img {
  padding: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h3 {
  text-align: start;
}

.price-container {
  display: flex;
  line-height: 50px;
}

.price {
  text-align: start;
  font-size: 2rem;
  padding-left: 20px;
}

.off {
  text-align: start;
  font-size: 1.5rem;
  color: rgb(239, 16, 16);
}

.price-off {
  text-align: start;
  margin-top: 0.5rem;
  color: #565959;
}

#size {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  text-align: start;
  margin-left: 20px;
  border: 0.5px solid black;
  cursor: pointer;
}

.select-container label {
  font-weight: bold;
}

.select-container {
  display: flex;
  justify-content: start;
  margin-bottom: 3rem;
}

.add-to-cart-button:hover,
.buy-now-button:hover {
  background-color: orange;
}
.buy-now-button {
  margin-top: 1rem;
  background-color: orange;
}

/* for mobile screen */
@media screen and (max-width: 540px) {
  .dashboard .main-image img {
    max-width: 100%;
    height: auto;
  }

  .main-image {
    width: 90vw;
    height: 60vh;
  }
  .main-image img {
    padding: 5px;
    height: 50vh;
    width: 80vw;
  }

  .price-container {
    flex-direction: column;
    line-height: 1.5;
  }

  .price {
    font-size: 1.5rem;
    padding-left: 0;
  }

  .off {
    font-size: 1.2rem;
  }

  .price-off {
    font-size: 1rem;
  }

  .select-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .select-container label {
    margin-bottom: 0.5rem;
  }

  .add-to-cart-button,
  .buy-now-button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .buy-now-button {
    margin-bottom: 0;
    background-color: orange;
  }
}

/* for tablate screen */
@media (min-width: 576px) and (max-width: 991.98px) {
  h3 {
    font-size: 1.3rem;
  }
  .price {
    font-size: 1.5rem;
    padding-left: 0;
  }
  .main-image {
    width: 40vw;
    height: 80vh;
  }
}
