.flick {
  color: rgb(212, 109, 50);
}
.signup-form {
  max-width: 30vw;
}
/* For Mobile Screens */
@media screen and (max-width: 576px) {
  .signup-form {
    max-width: 100vw;
    margin-top: 5rem !important;
  }
}
