.footer {
  background-color: #191f4e;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  text-align: start;
}
a {
  text-decoration: none;
  color: rgb(118, 134, 145);
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(118, 134, 145);
  cursor: pointer;
}
p:hover {
  color: white;
}
a:hover {
  color: white;
}
h6 {
  margin-bottom: 20px;
  cursor: pointer;
}

.first-child {
  display: flex;
  justify-content: center;
}

.second-child button {
  background-color: rgb(212, 109, 50);
  color: white;
  border: none;
  font-size: small;
  cursor: pointer;
}

.second-child button:hover {
  background-color: rgb(212, 109, 50);
}

.second-child img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.copyright p {
  text-align: center;
  padding: 10px;
}

/* Form mobile screen */
@media (max-width: 480px) {
  .first-child {
    display: none;
  }
}
