.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.product-list li {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.womens-card {
  width: 12vw;
  height: 14vh;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.womens-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.womens-product {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .product-list li {
    margin-bottom: 10px;
  }

  .womens-card img {
    width: 100%;
    height: 100%;
  }
}
