/* Styles specific to OrderSummary component */
.checkout-summary {
  margin: 0 auto;
}

.checkout-summary .summary {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
}

.checkout-summary hr {
  width: 80%;
  margin: 16px auto;
  border: none;
  border-top: 1px solid #ddd;
}

.order-total {
  color: rgb(132, 22, 22);
  font-weight: bold;
}
