/* Styles specific to CartItemList component */
.cart-item-list {
  background-color: white;
  padding: 1rem;
}

.cart-item input {
  cursor: pointer;
}

.cart-card {
  width: 50vw;
  height: 40vh;
  border: none;
}
.product-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.cart-item-details table {
  width: 100%;
}

.cart-item-details p {
  color: black;
  font-size: 1.2rem;
}

.cart-item-list .delete {
  color: red;
  cursor: pointer;
}

.toggle-item-selection {
  font-size: 14px;
}

.toggle-item-selection span {
  font-size: 14px;
  color: #007185;
  cursor: pointer;
}

/* for mobile screen */
@media screen and (max-width: 570px) {
  .cart-card {
    width: 80vw !important;
    height: 30vh !important;
    border: none;
  }
  .product-image {
    height: 50vh;
    width: 50vw;
  }
  .cart-item-details p,
  b {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 0.9rem;
  }
  .quantity-btn {
    font-size: 0.6rem;
  }
  .button-container button {
    padding: 2px 3px;
  }
}

/* for tablet screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .cart-card {
    width: 80vw !important;
    height: 30vh !important;
    border: none;
  }
  .product-image {
    height: 50vh;
    width: 50vw;
  }
}
