.coustomer-order .table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.coustomer-order .table thead {
  background-color: #f8f9fa;
}

.coustomer-order .table tbody tr td {
  font-size: 0.9rem;
  padding: 8px;
}

.coustomer-order .table th {
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #dee2e6;
  color: #495057;
}

.coustomer-order .table td:nth-child(1) {
  width: 5%;
}
.coustomer-order .table td:nth-child(2) {
  width: 10%;
}
.coustomer-order .table td:nth-child(3) {
  width: 10%;
}
.coustomer-order .table td:nth-child(4) {
  width: 10%;
}
.coustomer-order .table td:nth-child(5) {
  width: 10%;
}
.coustomer-order .table td:nth-child(6) {
  width: 10%;
}
.coustomer-order .table td:nth-child(7) {
  width: 13%;
}
.coustomer-order .table td:nth-child(8) {
  width: 10%;
}
.coustomer-order .table td:nth-child(9) {
  width: 15%;
}
.coustomer-order .table td:nth-child(10) {
  width: 5%;
}
